<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.67.0/dist/L.Control.Locate.min.css" />

<link rel="stylesheet" href="{{ "assets/css/lightgallery/lightgallery.min.css" | relative_url }}">

<style media="screen">
  .google-maps-link {
    margin-bottom: 10px;
  }
</style>

<body>

  <main class="page-content" aria-label="Content">

    <div class="wrapper">

      <h2>Berlin Companion</h2>

      <p>
        <em>
          {{ site.description }}
        </em>
      </p>

      <nav style="padding-bottom: 10px">
        <a href="{{ site.baseurl }}">Home</a>
      </nav>

      <div class="map" id="berlin-map" style="height: {% if page.layout == "post" %}200{% else %}400{% endif %}px; margin-bottom: 40px;"></div>
      {{ content }}
    </div>
  </main>

  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>

  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.67.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

  <script src="{{ "assets/js/lightgallery/lightgallery.min.js" | relative_url }}"></script>
  <script src="{{ "assets/js/lightgallery/lg-thumbnail.min.js" | relative_url }}"></script>
  <!-- <script src="{{ "assets/js/lightgallery/lg-fullscreen.min.js" | relative_url }}"></script> -->

  <script>

  var lat = 52.5200;
  var lng = 13.4050;
  var zoom = 11;

  {% if page.lat and page.lng %}
  lat = {{ page.lat }};
  lng = {{ page.lng }};
  zoom = 15;
  {% endif %}

  var map = L.map('berlin-map').setView([lat, lng], zoom);

  L.control.locate({
    returnToPrevBounds: true
  }).addTo(map);

  L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png ', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  {% for post in site.posts %}
  var marker = L.marker([{{ post.lat}}, {{ post.lng }}]).addTo(map);
  marker
  .bindPopup(
    '<a href="{{ post.url | relative_url }}"><img src={{ post.images[0] | append: ".thumbnail.jpg" | relative_url }}>{{ post.title }}</a>',
    {
      maxWidth: 140,
      maxHeight: 170
    }
  );
  {% if post.url == page.url %}
  marker.bindPopup('{{ post.title }}', {'closeButton': false}).openPopup();
  {% endif %}
  {% endfor %}

  </script>

  <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
      thumbnail: true,
      showThumbByDefault: false
    });
  </script>
  <!-- <script type="text/javascript" src="{{ "assets/js/picturefill.min.js" | relative_url }}"> -->

  <!-- </script> -->

  {%- include footer.html -%}

</body>

</html>
