<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <main class="page-content" aria-label="Content">

    <div class="wrapper">

      <h2>Berlin Companion</h2>

      <p>
        <em>
          {{ site.description }}
        </em>
      </p>

      <nav style="padding-bottom: 10px">
        <a href="{{ site.baseurl }}">Home</a>
      </nav>


      {% include archive.html %}

      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  {%- include scripts.html -%}

</body>

</html>
