<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<link rel="stylesheet" href="{{ 'assets/css/map.css' | relative_url }}">

<body>

  {%- include nav.html -%}

  <div class="map" id="berlin-map"></div>

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">About Berlin Companion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Welcome to your in-depth guide to Berlin's history, architecture, politics and much more!
          </p>
          <p>
            The best way to explore the city is to get curious about every building, street and monument; to turn away from the well-known landmarks and to start noticing hidden, forgotten, unadvertised traces of history around us.
            <em>Berlin Companion</em> helps you do just that.
          </p>
          <p>
            If you are interested in architecture, history and politics of this city, <em>Berlin Companion</em> will become your best friend on your visit to Berlin.
          </p>
          <p>
            <ul>
              <li>50+ places to explore with photos and descriptions</li>
              <li>completely free</li>
              <li>easy to use on your mobile</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modals -->
  {% for post in site.posts %}
  <div class="modal fade" id="{{ post.id | replace: '/', '' }}" tabindex="-1" role="dialog" aria-labelledby="{{ post.id | replace: '/', '' }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ post.id | replace: '/', '' }}Label">{{ post.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="{{ post.id | replace: '/', '' }}-lightgallery" class="lightgallery">
            {% for image in post.images %}
            <a href="{{ image | relative_url }}" data-responsive="{{ image | relative_url}}.small.jpg 500, {{ image | relative_url }} 800">
              <img src="{{ image | relative_url }}.small.jpg" alt="{{ post.title }}"/>
            </a>
            {% endfor %}
          </div>

          <div class="google-maps-link">
            <a
              href="https://www.google.com/maps/search/?api=1&query={{ post.lat }},{{ post.lng }}"
              target="_blank"
              rel="noreferrer"
              class="btn btn-primary btn-sm google-map-btn"
            >
              Open in Google Maps
            </a>
          </div>

          {{ post.content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {%- include scripts.html -%}

  <script>

  if (!localStorage.returningVisitor) {
    $('#infoModal').modal('show');
    localStorage.returningVisitor = "1";
  }

  var lat = 52.5200;
  var lng = 13.4050;
  var zoom = 11;

  var map = L.map('berlin-map').setView([lat, lng], zoom);

  L.control.locate({
    returnToPrevBounds: true
  }).addTo(map);

  // info box control
  L.Control.Info = L.Control.extend({
    onAdd: function(map) {
      var container = L.DomUtil.create('div', 'leaflet-control-locate leaflet-bar leaflet-control');
      var link = L.DomUtil.create('a', 'leaflet-bar-part leaflet-bar-part-single', container);
      var icon = L.DomUtil.create('span', 'fa fa-info', link);

      L.DomEvent
        .on(link, 'click', L.DomEvent.stopPropagation)
        .on(link, 'click', L.DomEvent.preventDefault)
        .on(link, 'dblclick', L.DomEvent.stopPropagation);

      L.DomEvent.on(link, 'click', function() {
        $('#infoModal').modal('show')
      });

      return container;
    }
  });

  L.control.info = function(opts) {
    return new L.Control.Info(opts);
  };

  L.control.info({ position: 'topright' }).addTo(map);

  L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png ', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);


  map.on('popupopen', function(e) {
    var px = map.project(e.target._popup._latlng); // find the pixel location on the map where the popup anchor is
    px.y -= e.target._popup._container.clientHeight/2; // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
    map.panTo(map.unproject(px),{animate: true}); // pan to new center
  });

  {% for post in site.posts %}
  var marker = L.marker(
    [{{ post.lat}}, {{ post.lng }}],
    {
      title: "{{post.title}}",
      alt: "{{post.title}}"
    }
  ).addTo(map);
  marker
  .on('click', function(e) {
    $('#{{ post.id | replace: '/', '' }}').modal('show')
  });
  {% endfor %}
</script>

<script type="text/javascript">
{% for post in site.posts %}
lightGallery(document.getElementById("{{ post.id | replace: '/', '' }}-lightgallery"), {
  thumbnail: true,
  showThumbByDefault: false
});
{% endfor %}
</script>

</body>
</html>
