<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<link rel="stylesheet" href="{{ 'assets/css/map.css' | relative_url }}">

<body>

  {%- include nav.html -%}

  <div class="map" id="berlin-map"></div>

  <!-- modals -->
  {% for post in site.posts %}
  <div class="modal micromodal-slide" id="{{ post.id | replace: '/', '' }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ post.id | replace: '/', '' }}-title">
        <header class="modal__header">
          <h2 class="modal__title" id="{{ post.id | replace: '/', '' }}-title">
            {{ post.title }}
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="{{ post.id | replace: '/', '' }}-content">

          <div id="{{ post.id | replace: '/', '' }}-lightgallery" class="lightgallery">
            {% for image in post.images %}
            <a href="{{ image | relative_url }}" data-responsive="{{ image | relative_url}}.small.jpg 500, {{ image | relative_url }} 800">
              <img src="{{ image | relative_url }}.small.jpg" alt="{{ post.title }}"/>
            </a>
            {% endfor %}
          </div>

          <div class="google-maps-link">
            <a
              href="https://www.google.com/maps/search/?api=1&query={{ post.lat }},{{ post.lng }}"
              target="_blank"
              class="btn btn-primary btn-sm google-map-btn"
            >
              See on Google Maps
            </a>
          </div>

          {{ post.content }}
        </main>
        <footer class="modal__footer">
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>  {% endfor %}

  {%- include scripts.html -%}

  <script>

  var lat = 52.5200;
  var lng = 13.4050;
  var zoom = 11;

  {% if page.lat and page.lng %}
  lat = {{ page.lat }};
  lng = {{ page.lng }};
  zoom = 17;
  {% endif %}

  var map = L.map('berlin-map').setView([lat, lng], zoom);

  L.control.locate({
    returnToPrevBounds: true
  }).addTo(map);

  L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png ', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  map.on('popupopen', function(e) {
    var px = map.project(e.target._popup._latlng); // find the pixel location on the map where the popup anchor is
    px.y -= e.target._popup._container.clientHeight/2; // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
    map.panTo(map.unproject(px),{animate: true}); // pan to new center
  });

  {% if page.tag %}
  {% for post in site.tags[page.tag] %}
  var marker = L.marker([{{ post.lat}}, {{ post.lng }}]).addTo(map);
  marker
  .bindPopup(
    '<a href="{{ post.url | relative_url }}"><img src={{ post.images[0] | append: ".thumbnail.jpg" | relative_url }}>{{ post.title | escape }}</a>',
    {
      maxWidth: 140,
      maxHeight: 170
    }
  );
  {% if post.url == page.url %}
  marker.bindPopup('{{ post.title | escape }}', {'closeButton': false}).openPopup();
  {% endif %}
  {% endfor %}
  {% else %}
  {% for post in site.posts %}
  var marker = L.marker([{{ post.lat}}, {{ post.lng }}]).addTo(map);
  marker
  .on('click', function(e) {
    console.log("{{ post.id | replace: '/', '' }}")
    MicroModal.show("{{ post.id | replace: '/', '' }}");
  });;

  {% endfor %}
  {% endif %}


</script>

<script type="text/javascript">
{% for post in site.posts %}
lightGallery(document.getElementById("{{ post.id | replace: '/', '' }}-lightgallery"), {
  thumbnail: true,
  showThumbByDefault: false
});
{% endfor %}
</script>

<script type="text/javascript">
MicroModal.init();
</script>
</body>
</html>
